<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &mdash; ClinDesk, Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}Nick Semenkovich (@semenko), ClinDesk &amp; White Coat Academy{% endblock %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <!-- ADD ANALYTICS CODE: {% include '_analytics_code.html' -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <link href="{{assets}}bower/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{! TODO: Remove this style override. Boo. }}
            <a class="navbar-brand" href="/" style="padding: 10px"><img src="{{app_assets}}/img/content/logo_sml.png" alt="ClinDesk, Inc."></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{! TODO: Cleaner implementation? }}
                <li class="{{ home_active }}"><a href="/">Home</a></li>
                <li class="{{ about_active }}"><a href="/about.html">About</a></li>
                <li class="{{ hnp_active }}"><a href="/history-physical-wizard/">H&amp;P Wizard</a></li>
                <li class="{{ calc_active }}"><a href="/calc/">Medical Calculators</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

{% if header_title and header_text %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ header_title }} <small>{{ header_text }}</small></h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">{{ header_title }}</li>
            </ol>
        </div>
    </div>
</div>
{% endif %}

{{!
<header class="jumbotron {% block jumbotron_class %}subhead{% endblock %}" id="overview">
    <div class="container">
        <h1>{% block tagline_text %}tagline_text{% endblock %}</h1>
        <p class="lead">{% block lead %}lead{% endblock %}</p>
        {% block extra_jumbotron %}{% endblock %}
    </div>
</header>
}}

{{> body }}


<div class="container">
    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-muted">&copy; 2013—2014 ClinDesk, Inc., some rights reserved</p>
                <p class="text-muted">Videos are licensed under a Creative Commons <a rel="license" href="//creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US" target="_blank">CC BY NC SA 3.0</a> license.</p>
            </div>
        </div>
    </footer>

</div><!-- /.container -->

<!-- TODO: Re-add CDN failover, or get into bower somehow, etc. -->
<script src="{{assets}}bower/jquery/jquery.js') }}"></script>
<script src="{{assets}}bower/bootstrap/dist/js/bootstrap.js') }}"></script>
<script src="{{assets}}js/cd-scripts.js"></script>


</body>
</html>


