<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}&mdash; ClinDesk, Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{meta_description}}" />
    <meta name="author" content="{% block meta_author %}Nick Semenkovich (@semenko), ClinDesk &amp; White Coat Academy{% endblock %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <!-- ADD ANALYTICS CODE: {% include '_analytics_code.html' -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/cd-style.css">
    <link rel="stylesheet" href="../styles/shared.css">
    <!-- endbuild -->

    <!-- ref:css //cdn.jsdelivr.net/fontawesome/4.0.3/css/font-awesome.min.css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- endref -->

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{! TODO: Remove this style override. Boo. }}
            <a class="navbar-brand" href="/" style="padding: 10px"><img src="{{assets}}/img/content/logo_sml.png" alt="ClinDesk, Inc."></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{! TODO: Cleaner implementation? }}
                <li class="{{ home_active }}"><a href="/">Home</a></li>
                <li class="{{ about_active }}"><a href="/about.html">About</a></li>
                <li class="{{ hnp_active }}"><a href="/history-physical-wizard/">H&amp;P Wizard</a></li>
                <li class="{{ calc_active }}"><a href="/calc/">Medical Calculators</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

{{#if header_title}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ header_title }} <small>{{ header_text }}</small></h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">{{ header_title }}</li>
            </ol>
        </div>
    </div>
</div>
{{/if}}

{{> body }}

<div class="container">
    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-muted">&copy; 2013—2014 ClinDesk, Inc., some rights reserved</p>
                <p class="text-muted">Videos are licensed under a Creative Commons <a rel="license" href="//creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US" target="_blank">CC BY NC SA 3.0</a> license.</p>
            </div>
        </div>
    </footer>

</div><!-- /.container -->


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="../bower_components/bootstrap/js/affix.js"></script>
        <script src="../bower_components/bootstrap/js/alert.js"></script>
        <script src="../bower_components/bootstrap/js/dropdown.js"></script>
        <script src="../bower_components/bootstrap/js/tooltip.js"></script>
        <script src="../bower_components/bootstrap/js/modal.js"></script>
        <script src="../bower_components/bootstrap/js/transition.js"></script>
        <script src="../bower_components/bootstrap/js/button.js"></script>
        <script src="../bower_components/bootstrap/js/popover.js"></script>
        <script src="../bower_components/bootstrap/js/carousel.js"></script>
        <script src="../bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="../bower_components/bootstrap/js/collapse.js"></script>
        <script src="../bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

<script src="../scripts/cd-scripts.js"></script>


</body>
</html>


